@model GestVeicular.Models.Servicos

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/registerServicos.css" />

<div class="register-page">
    <div class="register-container register-card">
        <a asp-action="Index" class="btn-voltar"><i class="fas fa-arrow-left"></i> Voltar</a>

        <h2><i class="fas fa-edit"></i> Edição de Serviço</h2>

        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert-custom alert-erro">
                @TempData["MensagemErro"]
            </div>
        }

        <form asp-controller="Servicos" asp-action="Editar" method="post">
            <input type="hidden" asp-for="IdServico" />

            <div class="form-group">
                <label asp-for="ClienteId"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clientes">
                <option value="">-- Selecione um cliente --</option>
                </select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VeiculoId"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.Veiculos">
                    <option value="">-- Selecione um veículo --</option>
                </select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NomeServico" placeholder="Nome do serviço" class="form-control" />
                <span asp-validation-for="NomeServico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <textarea asp-for="DescricaoServico" placeholder="Descrição do serviço" class="form-control"></textarea>
                <span asp-validation-for="DescricaoServico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ValorServico" type="number" step="0.01" placeholder="Valor do serviço" class="form-control" />
                <span asp-validation-for="ValorServico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<GestVeicular.Enums.StatusServicos>()">
                    <option value="">Selecione o Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-submit">
                <i class="fas fa-save"></i> Salvar Alterações
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
